---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:flex-row lg:h-screen"
>
	<div class="mb-10 flex w-full flex-col items-center justify-start lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2 text-2xl">
			I am a Computer Systems Engineering student with experience in web development. I enjoy
			solving real-world problems through web solutions, and I am looking for Full Stack job
			opportunities. Furthermore, I also like learning new stuff to implement in my personal
			projects.
		</p>
	</div>
</section>
